<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ subject }}</title>
</head>
<body>
  <h2>Sveiki {{ name }} {{ surname }}! </h2>
  <p>Aciu kad uzsiregistravote dabar liko tik aktivuoti paskyra is sukurti slaptazodi. Sita galite pasidaryti cia: <a href="{{ activationUrl }}">{{ activationUrl }}</a>. </p>
</body>
</html>